*~
bin/*
share/*
build/*
crosstool-ng/
libexec/
/arm-zephyr-eabi.linux.x86_64.tar.bz2
/riscv64-zephyr-elf.linux.x86_64.tar.bz2
cmake.linux.x86_64.tar.bz2
scripts/toolchains/
scripts/zephyr-*-linux-x86_64-setup.run
zephyr-sdk-x86_64-hosttools-standalone-*.sh
poky/
/*.built
/build.done
/packages_installed
